
== {{int:filedesc}} ==

{{Hospices civils de Lyon

|INV = $external.inv
|ANUM = $external.anum
|DOMN = $external.domn
|DOMN_2 = $external.domn_2
|DENO = $external.deno
|TYPO = $external.typo
|TITR = $external.titr
|AUTR_CONCAT = $external.autr_concat
|PAUT = $external.paut
|TECH_MATR = $external.tech_matr

|ECOL = $external.ecol
|ATTR = $external.attr 
|EXCT_CONCAT = $external.exct_concat
|PEXE = $external.pexe
|PLIEX = $external.pliex
|COM = $external.com
|DECV = $external.decv
|PDEC = $external.pdec

|VERNA = $external.verna
|TMILL1 = $external.tmill1
|MILL1 = $external.mill1
|Tmill2 = $external.tmill2
|MILL2 = $external.mill2
|STAD = $external.stad
|GENE = $external.gene
|PGEN = $external.pgen
|STYL = $external.styl
|UTLR = $external.utlr
|UTIL = $external.util
|PUTI = $external.puti
|LIEU = $external.lieu
|HIST = $external.hist

|PTECH = $external.ptech
|INSC = $external.insc
|PINS = $external.pins
|DESC = $external.desc
|REPR = $external.repr
|PREP = $external.prep
|DREP = $external.drep
|SREP = $external.srep
|DIMS_CONCAT = $external.dims_concat
|COULEUR = $external.couleur
|ENSEM = $external.ensem
|RENV = $external.renv
|NPART = $external.npart
|NFRAG = $external.nfrag
|UI_UE = $external.ui_ue

|DACQ = $external.dacq
|STAT = $external.stat

|PHOT = $external.phot
|COPY = $external.copy

|LOCA = {{Institution:Hospices civils de Lyon}}
|BIBLIOGRAPHIES_2_CONCAT = $external.bibliographies_2_concat

}}

== {{int:license-header}} ==
{{self|cc-by-sa-4.0}}

[[Category:Collections of the Musée des Hospices civils de Lyon]]
[[Category:Uploaded with ComeOn!]]
