== {{int:filedesc}} ==

{{Information
 | Description = {{fr|Maison de la Culture Arménienne (rue Bleue à Paris).}}
 | Source = {{own}}
 | Date = 2016:02:06 11:53:33
 | Author = {{User:Benoît Prieur/Credit}}
 | Permission = {{cc-by-sa-4.0}}
}}

== {{int:license-header}} ==
{{self|cc-by-sa-4.0}}

[[Category:Images of Paris 9e arrondissement by Benoît Prieur]]
[[Category:Images by Benoît Prieur]]
[[Category:Maison de la culture arménienne (Paris)]]


